<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title> <%= @page_title %> </title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway" rel="stylesheet">

    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= favicon_link_tag 'favicons/favicon.ico'%>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="my-site">
      <div class="top-nav-wrapper">
        <%= render "shared/application_nav" %>
      </div>
      
      <div class="middle-wrapper">
          <%# <%= video_tag(
            'Blue-Horizon.mp4',
            id: 'background',
            autoplay: true,
            loop: true,
            muted: true,
            poster: 'Blue-Horizon.jpg',
          )
          %> 

        <%= yield %>
      </div> 
        <%= alerts %>
      
      
        <%= render "shared/application_footer" %>
     
    </div>
  </body>
</html>

